<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
    />
    <title>weatherApp</title>
  </head>
  <body>
      <!-- header start -->
       {{>header}}
    <!-- header end -->
    <!-- content -->
    <section class="home">
      <div class="container">
        <div class="row mx-3 mt-5">
          <div class="col-sm-6">
            <div class="home-content">
              <h3 class="text-muted p-2">Welcome to weatherApp</h3>
              <h2>I am a  <span>Mern Stack Developer</span> and a fresher</h2>
              <a href="#" class="homebtn">About Me</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="imgbx">
                <img src="./img/about.jpg" alt="" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- footer start --}}
      
      {{>footer}}

    {{!-- footer end --}}

</body>
</html>