<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
    />
    <title>Page Not Found</title>
  </head>
<body>
    
    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="errorbx">
                    <h1 class="display-1">404:Error Page</h1>
                    <a href="/" class="errorbtn">Go Back Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{!-- footer start --}}
      
      {{>footer}}

    {{!-- footer end --}}


</body>
</html>